<h1>Add Your Word</h1>

<p>Add a word here!</p>

<form action="/words" method="post">
  <label for="name">Word:</label>
  <input id = "name" name="name" type="text"
  <button type = "submit">Add Word</button>
</form>
