<h3>Here are all the definitions associated with this word:</h3>

<ul>
  <% @word.word_banks().each() do |word_bank| %>
  <li><a href="/definitions/<%= word_bank.id() %>"><%= word_bank.define() %></a></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id %>/definitions/new">Add a new definition</a>
<a href="/">Return to Main Page</a>
